In [0]:
data=([(1,"Naval","India",'Insert'),(2,'Om','US','Insert')])
schema="id int , name string, country string, operation string"
df=spark.createDataFrame(data,schema)
df.createOrReplaceTempView("source")

In [0]:
%sql
create table saas.ebison_silver.employee(id int, name string, country string)

In [0]:
%sql
MERGE INTO saas.ebison_silver.employee t
USING source s
ON t.id = s.id
WHEN MATCHED THEN
  UPDATE SET
   t.name=s.name,
   t.country=s.country
WHEN NOT MATCHED
  THEN INSERT (
    id,
   name,
   country
  )
  VALUES (
    s.id,
    s.name,
    s.country
  )

In [0]:
%sql
select * from saas.naval_silver.employee

In [0]:
%sql
describe history saas.naval_silver.employee

In [0]:
data=([(1,"Naval","UK",'Update'),(3,'David','US','Insert')])
schema="id int , name string, country string, operation string"
df=spark.createDataFrame(data,schema)
df.createOrReplaceTempView("source")

In [0]:
%sql
MERGE INTO saas.ebison_silver.employee t
USING source s
ON t.id = s.id
WHEN MATCHED THEN
  UPDATE SET
   t.name=s.name,
   t.country=s.country
WHEN NOT MATCHED
  THEN INSERT (
    id,
   name,
   country
  )
  VALUES (
    s.id,
    s.name,
    s.country
  )

In [0]:
%sql
select * from saas.naval_silver.employee

In [0]:
%sql
describe history saas.naval_silver.employee

In [0]:
data=([(1,"Naval","UK",'Delete'),(3,'David','India','Update'),(4,'Velentina','India','Insert')])
schema="id int , name string, country string, operation string"
df=spark.createDataFrame(data,schema)
df.createOrReplaceTempView("source")

In [0]:
%sql
MERGE INTO saas.ebison_silver.employee t
USING source s
ON t.id = s.id
WHEN MATCHED and operation='Delete'
then delete
WHEN MATCHED THEN
  UPDATE SET
   t.name=s.name,
   t.country=s.country
WHEN NOT MATCHED
  THEN INSERT (
    id,
   name,
   country
  )
  VALUES (
    s.id,
    s.name,
    s.country
  )

In [0]:
%sql
select * from saas.ebison_silver.employee

In [0]:
df.display()